---
swagger: "2.0"
info:
  description: "v2board的API说明书"
  version: "1.0.5"
  title: "Swagger Petstore"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "hotland.bot@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "v2board.com"
basePath: "/api/v1"
tags:
- name: "client"
  description: "客户端专用的API，使用client中间件"
- name: "guest"
  description: "游客用API"
- name: "passport"
  description: "认证相关的API"
schemes:
- "https"
- "http"
paths:
  /passport/auth/register:
    post:
      tags:
      - "passport"
      summary: 注册
      parameters:
      - in: formData
        name: email
        type: string
        description: 电子邮件地址
        required: true
        format: "email"
      - in: formData
        name: password
        type: string
        description: 注册密码
        required: true
      - in: formData
        name: invite_code
        type: string
        description: 邀请码
        required: false
      - in: formData
        name: email_code
        type: string
        description: 邮件验证码，当服务端开启邮件验证的时候必须
        required: false
      - in: formData
        name: recaptcha_data
        type: string
        description: reCAPTCHA的密钥，当服务端开启reCAPTCHA验证的时候必须
        required: false
      responses:
        200:
          description: 成功注册
          schema:
            $ref: "#/definitions/RegisterResponse"
        500:
          description: 注册失败，有各种情况
  
  /passport/auth/login:
    post:
      tags:
      - passport
      summary: 登录
      parameters:
      - in: formData
        name: email
        type: string
        description: 电子邮件地址
        required: true
        format: email
      - in: formData
        name: password
        type: string
        description: 注册密码
        required: true    
      responses:
        200:
          description: 登录注册
          schema:
            $ref: "#/definitions/RegisterResponse"

  /passport/auth/check:
    get:
      tags:
      - "passport"
      summary: 获取登录用户状态
      responses:
        200:
          description: 成功获取登录用户状态
          schema:
            $ref: "#/definitions/AuthCheckResponse"
  
  /passport/auth/forget:
    post:
      tags:
      - passport
      summary: 重置密码
      parameters:
      - in: formData
        name: email
        type: string
        description: 电子邮件地址
        required: true
        format: email
      - in: formData
        name: email_code
        type: string
        description: 电子邮件验证码
        required: true
      - in: formData
        name: password
        type: string
        description: 新密码
        required: true
      responses:
        200: 
          description: 成功重置密码
        500:
          description: 重置密码失败
  
  /passport/auth/getTempToken:
    post:
      tags:
      - passport
      summary: 获取临时token
      responses:
        200:
          description: 成功获取临时token
          schema:
            $ref: "#/definitions/GetTempTokenResponse"
  
  /passport/common/config:
    get:
      tags:
      - passport
      summary: 获取站点配置
      responses:
        200:
          description: 成功获取站点的配置
          schema:
            $ref: "#/definitions/GetCommonConfigResponse"
        
  /passport/common/sendEmailVerify:
    post:
      tags:
      - passport
      summary: 给指定邮箱发送验证邮件
      parameters:
      - in: formData
        name: email
        type: string
        description: 电子邮件地址
        required: true
        format: email
      - in: formData
        name: recaptcha_data
        type: string
        description: reCAPTCHA密钥，如果服务端开启了reCAPTCHA的话则必须
        required: false
      responses:
        200:
          description: 成功发送验证码
          schema:
            $ref: "#/definitions/SendEmailVerifyResponse"
  
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "https://petstore.swagger.io/oauth/authorize"
    flow: "implicit"
    scopes:
      read:pets: "read your pets"
      write:pets: "modify pets in your account"
definitions:
  RegisterResponse:
    type: object
    properties:
      data: 
        type: object
        properties:
          token:
            type: string
          auth_data:
            type: string
            description: base64编码
  AuthCheckResponse:
    type: object
    properties:
      data:
        type: object
        properties:
          is_login:
            type: boolean
            description: 是否登录
          is_admin:
            type: boolean
            description: 是否管理员
  GetTempTokenResponse:
    type: object
    properties:
      data: 
        type: string
        description: token
  GetCommonConfigResponse:
    type: object
    properties:
      data:
        type: object
        properties:
          isEmailVerify:
            type: integer
            description: 是否开启邮箱验证，0 表示 false
          isInviteForce:
            type: integer
            description: 是否开启强制邀请，0 表示 false
          emailWhitelistSuffix:
            type: array
            description: 邮箱后缀名白名单，例如["gmail.com","qq.com","163.com"]
          isRecaptcha:
            type: integer
            description: 是否开启reCAPTCHA，0 表示 false
          recaptchaSiteKey:
            type: string
            description: reCAPTCHA密钥
          appDescription:
            type: string 
            description: 站点描述
          appUrl:
            type: string
            description: 站点URL
  SendEmailVerifyResponse:
    type: object
    properties:
      data:
        type: boolean
        description: 是否成功